.splitDiv{
    width: 100%;
    height: 5px;
}

.pushDiv{
    display:inline;
    width:25px;
    height: 50px;
    margin-left: 25px;
}

.Keyboard{
    margin-top: 2%;
}

@media only screen and (max-width: 470px) {
    .splitDiv{
        width: 100%;
        height: 5px;
    }

    .pushDiv{
        display:inline;
        width:14px;
        height: 25px;
        margin-left: 25px;
    }

    .Keyboard{
        margin-top: 2%;
    }


}